.placesMain{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    padding-left: 6.6%;
    padding-right: 1%;
    /* background-color: #E5E5E5; */
}



  .placesInfo{
    flex: 1;
    margin-top: 40px;
  }

  .mapMain{
    flex: 1;
  }

.placesInfo h5{
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.02em;
text-align: left;
/* font-family: 'Roboto Mono', monospace; */
color: #000000;
font-family: 'Roboto', sans-serif;
}



.locationsInfo{
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.info{
    display: flex;
    align-items: center;
    gap: 9px;
}

.flexSettingsFront{
    display: flex;
    align-items: center;
    gap: 20px;
}

.flexSettingsFront h6{
font-size: 20px;
font-weight: 500;
text-align: left;
/* font-family: 'Roboto Mono', monospace; */
color: #232323;
font-size: 16px;
/* font-weight: bold; */
font-family: 'Roboto', sans-serif;
}


.flexSettingsFront p{
font-size: 16px;
font-weight: 300;
line-height: 22px;
letter-spacing: 0.02em;
text-align: left;
/* font-family: 'Roboto Mono', monospace; */
color: #232323;
font-family: 'Roboto', sans-serif;

}

.line{
    height: 1px;
    width: 100%;
    background-color: #EEEEEE;
    margin-top: 30px;
}


.cloud{
    display: flex;
    align-items: center;
    gap: 5px;
}

.flexSettings{
    display: flex;
    align-items: center;
    gap: 10px;
}

.distanceNeeded{
    margin-top: 17px;
}

.travel .soFar{
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
/* font-family: 'Roboto Mono', monospace; */
color: #838383;
font-family: 'Roboto', sans-serif;
}



.seeMore{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}    




.distance{
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.02em;
text-align: left;
color: #232323;
/* font-family: 'Roboto Mono', monospace; */
font-family: 'Roboto', sans-serif;
}

.locationIcon{
    color: #383FF1;
}

.byAirDistance{
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.02em;
text-align: left;
color: #232323;
/* font-family: 'Roboto Mono', monospace; */
font-family: 'Roboto', sans-serif;
}

.seeMoreContent{
    line-height: 10px;
}


.seeMoreContent h4{
color: #1E1E1E;
 margin: 0px;
padding: 0px;
margin-bottom: 8px; 
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.02em;
text-align: left;
/* font-family: 'Roboto Mono', monospace; */
font-family: 'Roboto', sans-serif;
}

.seeMoreContent p{
font-size: 12px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0.02em;
text-align: left;
color: #838383;
margin-bottom: 8px;
/* font-family: 'Roboto Mono', monospace; */
margin-bottom: 20px;
font-family: 'Roboto', sans-serif;
}

.watch,.distanceIcon{
    color: #383FF1;
}


.map{
    border-radius: 10px;
    box-shadow:  0 20px 25px -5px rgba(0, 0, 0, 0.1),
0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* .mapMain{
box-shadow:  0 20px 25px -5px rgba(0, 0, 0, 0.1),
0 10px 10px -5px rgba(0, 0, 0, 0.04);} */

@media screen and (max-width:1100px) {
    .placesMain{
        flex-direction: column;
    }
}


@media screen and (max-width:700px) {
    .seeMore{
        flex-direction: column;
    }
}