.staticBarMain{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 15%;
    position: fixed;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px aliceblue;
    padding: 10px;
    z-index: 20;
}